* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.header {
  background-color: #5cc8ff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
  background-image: url("./img/dogs/bannerdogpic.svg");
  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

.headerDog {
  margin-right: 20px;
  color: #333;
}

.headerText {
  font-size: 40px;
  color: #333;
}

.headerButtonWrapper {
  display: flex;
  gap: 15px;
  margin-right: 100px;
}

.headerButton {
  padding: 8px 16px;
  background-color: #408cb2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 24px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.headerButton:hover {
  background-color: #dec1ff;
  scale: 1.1;
}
.main-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.gallery-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.gallery-image:hover {
  transform: scale(1.1);
}

.form-container {
  display: flex;
  height: 100%;
  gap: 10px;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
}
.form-container Button {
  background-color: #5cc8ff;
  color: white;
  font-size: 16px;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 20px;
  height: 50px;
}
.form-container Button:hover {
  background-color: #dec1ff;
  scale: 1.1;
}
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 108px;
  background-color: #5cc8ff;
  color: white;
  font-size: 16px;
  padding: 0px 20px;
  z-index: 10;
  background-image: url("./img/dogs/footer.svg");
}
.viewCarsouselButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.viewCarsouselButton {
  background-color: #5cc8ff;
  color: white;
  font-size: 16px;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 20px;
  height: 50px;
  margin-bottom: 20px;
}
.viewCarsouselButton:hover {
  background-color: #dec1ff;
  scale: 1.1;
}
button {
  text-decoration: none;
}
.returnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
}
.returnWrapperButton {
  background-color: #5cc8ff;
  color: white;
  font-size: 16px;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 20px;
  height: 50px;
}
.returnWrapperButton:hover {
  background-color: #dec1ff;
  scale: 1.1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #93867f;
}

h2 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #93867f;
}

select,
input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #93867f;
  border-radius: 4px;
  transition: border-color 0.3s;
}

select:focus,
input[type="number"]:focus {
  border-color: #7d70ba;
  outline: none;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.carousel-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 25px;
}

.carousel .control-dots .dot {
  background-color: purple;
}

.carousel .control-dots .dot:hover,
.carousel .control-dots .dot.selected {
  background-color: rgb(100, 20, 100);
}

.carousel .slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 17px;
}

select {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #93867f;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #93867f;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form h2 {
  justify-content: center;
  font-size: 18px;
  color: #93867f;
}
label h2 {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  background: linear-gradient(to right, #9aadbf, white, #9aadbf);
}

.headerDog {
  color: #343633;
  font-size: 44px;
}

.headerText {
  color: whitesmoke;
}
